* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Poppins-Regular, sans-serif !important;
}

.fondo{
	background: #8A2387;
	width: 700px;
	background: #7b4397;
	background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
	background: linear-gradient(to right, #dc2430, #7b4397);

	margin: auto;
	height: 1500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}


/* ? ----- PORTADA ----- */
.portada {
	width: 650px;
	background: #fff;
	border-radius: 20px;
	margin: auto;
	min-height: auto;
}


.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 20px;
}

.portada .header .logotipo {
	font-size: 3rem;
	margin-bottom: 20px;
}

.texto{
	margin-top: 30px;
}


/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	position: relative;
}

.linea{
	position: absolute;
	top: 40%;
	background-color: #fff;
	height: 5px;
	width: 100%;
}

.simply-section {
	background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
	background: linear-gradient(to right, #dc2430, #7b4397);
	color: #fff;
	width: 6.25rem;
	height: 7.5rem;
	margin: 0 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 4rem;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 1rem;
}


/* ? ----- Texto-Principal ----- */

.texto-principal{
	color: #724CF2;
}

.texto-principal h2{
	font-size: 50px;
	font-weight: 700;
	width: 450px;
	margin: auto;
}

.texto-principal p{
	margin-top: 50px;

}

.mensaje{
	width: 400px;
	margin: auto;
}

.mensaje-principal{
	font-size: 40px;
}

.mensaje p{
	font-size: 17px;
}

.pasos{
	margin-left: 20px;
}

.pasos p, h4{
	margin-top: 50px;
	color: #1D1D1B;
	text-align: left;
	padding: 0px 15px;
	
}

.pasos p {
	font-size: 16px;
	margin: 20px;	
}

.instructivo{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.instructivo button{
	margin-top: 5px;
	font-size: 16px;
	width: 190px;
	padding: 20px 20px;
	background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
	background: linear-gradient(to right, #dc2430, #7b4397);
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 25px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.instructivo h4{
	font-weight: normal;
	color: #724CF2;
	font-size: 12px;
}