* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
	margin: 30px;
}

.fondo{
	background: #8A2387;
	width: 700px;
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
	background: linear-gradient(to right, #F27121, #E94057, #8A2387);
	margin: auto;
	height: 1700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}


/* ? ----- PORTADA ----- */
.portada {
	width: 650px;
	background: #fff;
	border-radius: 20px;
	margin: auto;
	min-height: auto;
}


.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 20px;
}

.portada .header .logotipo {
	font-size: 3rem;
	margin-bottom: 20px;
}

.texto{
	margin-top: 30px;
}


/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
	background: linear-gradient(to right, #F27121, #E94057, #8A2387);
	color: #fff;
	width: 120px;
	height: 120px;
	margin: 0 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 25px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 20px;
}


/* ? ----- Texto-Principal ----- */

.texto-principal{
	color: #724CF2;
}

.texto-principal h2{
	font-size: 32px;
}

.texto-principal p{
	margin-top: 50px;
}

.pasos{
	margin-left: 20px;
}

.pasos p, h4{
	margin-top: 50px;
	color: #000;
	text-align: left;
	padding: 0px 15px;
	
}

.pasos p {
	font-size: 16px;	
}

.instructivo{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.instructivo button{
	margin-top: 5px;
	font-size: 16px;
	width: 190px;
	padding: 20px 20px;
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F27121, #E94057, #8A2387);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 25px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.instructivo h4{
	font-weight: normal;
	color: #724CF2;
	font-size: 13px;
}